
#modalCurrentEditing {
    /*background-color: gray;*/
   position: absolute;
    top: 70px;
    /* TODO : width/height programaticaly*/
    width: 900px;
    height: 700px;
}

#modalCurrentEditing .wrapper-element-currentEditing{
    position: absolute;
}


#modalCurrentEditing .wrapper-element-currentEditing .elementsAreaCurrentEditing{
    background-color: gray;
     position: absolute;
     top: 10px;
}


.elementDragMe {
    /*border:  dashed 1px;*/
    width: 90%;
    height: 90%;
    position:  absolute;
    top: 5%;
    left: 5%;

}

.elementsAreaCurrentEditing {
    background-color: cadetblue;
}