/* 
    Document   : displaymode
    Created on : 26 avr. 2013, 20:00:49
    Author     : claire
    Description:
        Purpose of the stylesheet follows.
*/
 

/* ======================================================================================
 * GLOBAL
 * ====================================================================================== */


root { 
    display: block;
}




/* ======================================================================================
 * TEMPLATE JMPRESS LIGHT
 * css très léger des éléments de slideArea (éléments, slides)
 * Pour debug
 * ====================================================================================== */



 #jmpress-container div .slide{
    display: block;

    width: 900px;           /* taille réelle : 900 */
    height: 700px;          /* taille réelle : 700 */
    padding: 40px 60px;

    /*background-color: rgba(100,100,100,.9);*/
      background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgba(190, 190, 190));
    background: -moz-radial-gradient(rgb(240, 240, 240), rgba(190, 190, 190));
    background: -ms-radial-gradient(rgb(240, 240, 240), rgba(190, 190, 190,0.8));
    background: -o-radial-gradient(rgb(240, 240, 240), rgba(190, 190, 190));
    background: radial-gradient(rgb(240, 240, 240), rgba(190, 190, 190,0.8));
   
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
}



#jmpress-container .slide .title
{

    text-align:center;
    padding-top: 30px;
    padding-bottom: 20px;
    /*margin: auto;*/     
    display: block;
    font-size: 6em;
    font-weight: bold;

}

#jmpress-container .slide .title2
{
    /*border : dashed black 10px;*/
    padding-top: 20px;
    padding-bottom: 60px;
    text-align:center;
    /*margin: auto;*/     
    display: block;
    font-size: 3.5em;
    font-weight: bold;
    border-bottom: 10px dotted white;
}   

#jmpress-container .slide .title3
{
    /*border : dashed black 10px;*/
    padding-top: 20px;
    padding-bottom: 60px;
    text-align:center;
    /*margin: auto;*/     
    display: block;
    font-size: 3em;
    font-weight: bold;
    border-bottom: 10px dotted white;
}   

