/* CSS declarations go here */


#slideArea >.slide{
    width: 90px;
    height: 150px;
    color: blue;
    border : dashed black 2px;
    position: absolute;
}

#slideArea >.slide p{
    margin: 0;
}

#slideArea >.slide span{
    /*position: absolute;*/
    /*left: 80%;*/
    color: red;
    border : dashed black 2px;
}


.dragged{
    border: red;
}

#forbidenZone{
    z-index: -1;
    border: 3px black solid;
    background:#e23e3e;
    position: absolute;
    top: 200px;
    left: 200px;
    width: 200px;
    height: 200px;
    
}


#slideArea >.active {
    border : dashed red 2px;
}


.element p {
    display: inline-block;
}
.element{
    border : dashed 1px blue;
}