<!---------------------------- slide container ---------------------------->

<template name='deckContainer'>   
  <div>page</div>
    {{#each slides}}
         {{> deckSlide}}
    {{/each}}
</template>


<!---------------------------- slide  ---------------------------->

<template name='deckSlide'>
    <section id='{{_id}}' class='slide'>        
         <h1> {{informations.title}} </h1>         
         {{> elementsArea}}
    </section>      
</template>

  
<!---------------------------- element container ---------------------------->


<!---------------------------- element ---------------------------->

