
#modalCurrentEditing {
    /*background-color: gray;*/
   position: absolute;
    top: 70px;
    width: 900px;
    height: 700px;
}

#modalCurrentEditing .wrapper-element-currentEditing{
    position: absolute;
}

#modalCurrentEditing .wrapper-element-currentEditing .editTextContent,.deleteElement{
    position: relative;
    top: -30px;
}


#modalCurrentEditing .wrapper-element-currentEditing .elementsAreaCurrentEditing{
    background-color: gray;
     position: absolute;
     top: 10px;
}

#modalCurrentEditing .wrapper-element-currentEditing .editor.text {
    z-index: 10;
    position: relative;
}

#modalCurrentEditing .locked {
    border : dashed red 2px;
}



.elementDragMe {
    /*border:  dashed 1px;*/
    width: 90%;
    height: 90%;
    position:  absolute;
    top: 5%;
    left: 5%;

}

.elementsAreaCurrentEditing {
    background-color: cadetblue;
}

iframe.editor.text {
    background-color: rgba(0,0,0,0);
}