
#editor-container{
    /*degeu !*/
    height:3000px;
}

#editor-container >.slide{
    width: 180px;
    height: 140px;
    border : dashed black 1px;
    position: absolute;
}


#editor-container .slide.dragged{
    border: dashed red;
}

#editor-container .slide .wrapper-element{
    position: absolute;
}

#editor-container .slide .editSlideContent {
    position: relative;
    z-index: 10;
}


#editor-container >.active {
    border : dashed red 2px;
}

#editor-container .locked {
    border : dashed blue 2px;
}
